body{
    font-family: Roboto;
    margin: 0;
    padding: 0;
    
}
.divisorbase{
    background-color: aliceblue;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border-radius: 15px;
}